*
{
    padding: 0;
    margin: 0;

}

body
{
    margin: auto;
    width: 1000px;
    height: auto;
}

#naglowek
{
    background-color: bisque;
    width: 1000px;
    height: 150px;
    text-align: center;
    margin: auto;
    border: solid blue 10px;
}

#menuL
{
    background-color: aliceblue;
    width: 200px;
    height: 250px;
    text-align: center;
    float: left;
    margin: auto;
}

#tresc
{
    background-color: aqua;
    width: 600px;
    height: 250px;
    text-align: center;
    float: left;
    margin: auto;
}

#menuR
{
    background-color: coral;
    width: 200px;
    height: 250px;
    text-align: center;
    float: left;
    margin: auto;
}

#footer
{
    background-color: burlywood;
    width: 1000px;
    height: 50px;
}
